<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="align-content:center; text-align:center">
        <a href="@Url.Action("", "")">Hjem</a>
        <a href="@Url.Action("", "")">Udforsk</a>
        <a href="@Url.Action("", "")">Kalender</a>
        <a href="@Url.Action("", "")">Blog</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
