@model IEnumerable<Makers_of_Denmark.Models.Makerspace>
@{
    ViewData["Title"] = "Explore";
}
<partial name="../Shared/_TopNavBar.cshtml">

    <main class="explore" id="explore">
        <div class="explore-wrapper">

            <section class="intro-section">

                <div class="box1">
                    <h1 class="title">Udforsk din kreativitet</h1>
                    <p class="paragraph">Find Events og Makerspaces i nærheden af dig. Udforsk de forskellige Makerspaces i dit område, og find ud af hvilke badges du kan få!</p>
                    <button class="button title-button">Søg alle</button>
                </div>

                <div class="box2">
                    <!--Placeholder billede-->
                    <img src="~/css/img/workshop.jpg" class="placeholderbillede" />
                </div>

            </section>

            <section>

                <div class="flex">
                    <h2 class="title">Makerspaces i nærheden</h2>
                </div>
                <div class="scrolling-wrapper-flexbox">
                    @foreach (var item in Model)
                    {
                    <a asp-area="" asp-controller="Makerspace" asp-route-id="@item.id">
                        <div class="card shadow-2">
                            <a asp-area="" asp-controller="Makerspace" asp-route-id="@item.id">
                                @*<img src="@Url.Content(item.logoUrl)" alt="" />*@
                                <img class="card-img" src="~/css/img/badges/020-badge.png" />
                                <h3 class="card-title">@Html.DisplayFor(modelItem => item.name)</h3>
                                <p class="card-info">@item.address.city</p>
                                <p class="card-info">@item.address.street</p>

                        </div>
                    </a>
                            }
                    </div>

                <div class="flex">
                    <h2 class="title">Events i nærheden</h2>
                </div>
                <div class="scrolling-wrapper-flexbox">
                    <div class="card"><h2>Card</h2></div>
                    <div class="card"><h2>Card</h2></div>
                    <div class="card shadow-2"><h2>Card</h2></div>
                    <div class="card"><h2>Card</h2></div>
                    <div class="card"><h2>Card</h2></div>
                    <div class="card"><h2>Card</h2></div>
                </div>

            </section>
        </div>

    </main>
